
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [fixedInViewport]="true" mode="side" opened class="example-sidenav">
    <app-profile *ngIf="isLogin"></app-profile>
    <app-menu *ngIf="isLogin"></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>

       <mat-toolbar color="primary" *ngIf="isLogin">
          <mat-toolbar-row>

              <button type="button" mat-button (click)="sidenav.toggle()">
                      <mat-icon>menu</mat-icon>
              </button>

              <button type="button" mat-button [routerLink]="['/inicio']">
                <img src="../assets/imgs/logos/logo_netclodx_letras_blancas.png" style="width: 160px;" alt="">
              </button>

              <span class="example-spacer"></span>

              <button type="button" mat-button>
                <mat-icon>notifications_none</mat-icon>
              </button>
              <button type="button" mat-button (click)="cerrarSesion()">
                <mat-icon>exit_to_app</mat-icon> Salir
              </button>
          </mat-toolbar-row>
      </mat-toolbar>


    <div class="my-3 mx-auto contenido-componente">
        <div class="tarjeta" [ngStyle]="{'width': !isLogin ? '460px' : (isLogin ? '100%' : '100%') }">
            <div class="tarjeta-titulo tarjeta-border-bottom">
                {{ path | titlecase }}
            </div>
            <div class="tarjeta-cuerpo tarjeta-border-left-right">
                <router-outlet></router-outlet>

                <!--<div [@routeAnimations]="prepareRoute(outlet)">
                  <router-outlet #outlet="outlet"></router-outlet>
                </div>-->

            </div>
            <app-footer></app-footer>
        </div>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>

<div class="overlay-animation" [ngClass]="{'hiddenOverlay' : ocultarOverlay}">
  <div class="container-animation">
      <div class="circle-wrapper">
          <div class="circle-zero"></div>
          <div class="circle-one"></div>
          <div class="circle-two"></div>
          <div class="circle-three"></div>
          <div class="circle-shadow"></div>
      </div>
  </div>
</div>
